* {
  margin: 0;
  padding: 0; }

header {
  background-color: #5cdb95;
  padding: 30em, 5em;
  height: 100px; }
  header p {
    margin: 3em, 5em; }
  header a {
    font-weight: 900;
    text-decoration: none;
    color: #dce4e6; }
    header a.selected {
      color: #05386b; }
      header a.selected:hover {
        color: coral; }
    header a:hover {
      color: white; }

header#tabs a {
  font-size: 20px;
  margin-left: 2em; }

header#tabs #header-tabs {
  position: absolute;
  top: 4em;
  left: 40em;
  margin-left: 5%;
  margin-right: 5%; }

body {
  background-color: #f4f5f7; }

h1 {
  color: #ff0000;
  -webkit-transform: rotate(2deg);
  -ms-transform: rotate(2deg);
  transform: rotate(2deg); }

h2 {
  color: #fff000; }
