/* Colors */
$imperial_blue: #05386b;
$dark_green: #379683;
$emerald_green: #5cdb95;
$light_green: #8ee4af;
$pseudo_white: #edf5e1;

@mixin transform($property) {
    -webkit-transform: $property;
    -moz-transform: $property;
    -o-transform: $property;
    -ms-transform: $property;
    transform: $property;
}

header {
    background-color: #5cdb95;
    padding: 30em, 5em;
    height: 100px;
    z-index: 1;
    
    p {
        margin: 3em, 5em;
    }
    
    
    
}

header#tabs {
    a {
        font-size: 20px;
        margin-left: 2em;
    }
    
    #header-tabs {
        position: absolute;
        top: 4em;
        left: 40em;
        
        // Margin
        $side_margin: 5%;
        margin-left: $side_margin;
        margin-right: $side_margin;
    }
    
    a {
        // Default
        font-weight: 900;
        text-decoration: none;
        font-family: "Open Sans Condensed", sans-serif;
        padding: 1em;
        padding-top: 0;
        
        // Unique
        color: rgb(220, 228, 230);
        color: $imperial_blue;
        
        &:hover {
            display: inline-block;
            @include transform(translateY(20px));
        }
        
        // Current tab
        &.selected {
            color: coral;
            
            &:hover {
                //transform: none;
            }
        }
    }
}