* {
    margin: 0;
    padding: 0;
}

@import 'header';

$background_color: rgb(244, 245, 247);
/* Colors */
$imperial_blue: #05386b;
$dark_green: #379683;
$emerald_green: #5cdb95;
$light_green: #8ee4af;
$pseudo_white: #edf5e1;

@mixin transform($property) {
    -webkit-transform: $property;
    -moz-transform: $property;
    -o-transform: $property;
    -ms-transform: $property;
    transform: $property;
}

@function sum($a, $b) {
    @return $a + $b;
}


body {
    background-color: $background_color;
}

.body {
    padding-left: 10%;
    padding-right: 10%;
}

h1 {
    color: #ff0000;
    @include transform(rotate(2deg));
}

h2 {
    color: #fff000;
}


/* Grids */
.grid {
    display: grid;
    grid-gap: 10px;
    
    // Title for Grid
    #title {
        // Grid
        grid-row: 1;
        grid-column: 1 / -1;
        
        // Location
        margin-bottom: 1em;
        padding: 1em;
        
        // Text
        font-size: 50px;
        text-align: center;
    }
}

/* About Me Grid */
.about-grid {
    // Grid columns
    grid-template-columns: 2fr 3fr;
    grid-column-gap: 3em;
    
    // Location
    margin-top: 8em; 
    
    .about-left {
        text-align: right;
        img {
        }
    }
    .about-right {}
}