* {
    margin: 0;
    padding: 0;
}

@import 'header';

$background_color: rgb(244, 245, 247);
/* Colors */
$imperial_blue: #05386b;
$dark_green: #379683;
$emerald_green: #5cdb95;
$light_green: #8ee4af;
$pseudo_white: #edf5e1;

@mixin transform($property) {
    -webkit-transform: $property;
    -moz-transform: $property;
    -o-transform: $property;
    -ms-transform: $property;
    transform: $property;
}

@function sum($a, $b) {
    @return $a + $b;
}


body {
    background-color: $background_color;
}

h1 {
    color: #ff0000;
    @include transform(rotate(2deg));
}

h2 {
    color: #fff000;
}


